@model IEnumerable<E_Commerse_Store.Models.SubCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Index", "Products", new { SubCategories = item.Name }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (!string.IsNullOrWhiteSpace(item.Picture1))
            {
                <img class="card-img-bottom d-block radius-image-full"
                     src="~/Content/Image/@Url.Content(item.Picture1)"
                     height="50"
                     alt="Card image cap" />
            }
        </td>
        <td>
            @if (!string.IsNullOrWhiteSpace(item.Picture2))
            {
                <img class="card-img-bottom d-block radius-image-full"
                     src="~/Content/Image/@Url.Content(item.Picture2)"
                     height="50"
                     alt="Card image cap" />
            }
<td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubCategoryID })
        </td>
    </tr>
}

</table>
