@model IEnumerable<E_Commerse_Store.Models.getallOrder>

@{
    ViewBag.Title = "GetAllOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAllOrderDetail</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Action
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.User)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Contact)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Unit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Qty)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Total)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bill)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Payment)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InvoiceDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @if (item.Status == 1)
        {
            <span class="btn btn-success">Approve</span>
        }
        else
        {
            <a href="@Url.Action("ConfirmOrder","Home", new { InvoiceId = item.InvoiceId })" class="btn btn-info">Pending</a>
        }
    </td>
    @*<td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>*@
</tr>
}

</table>
