@model E_Commerse_Store.Models.Banner

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Banner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discription1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discription2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discription3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture3)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
